<section class=" hero-section">

  <div class="hero container">
    <div class="hero-title">
      <h1 class="hero-title-text">Hello. <br>
        I’m Fullstack developer
        Lloyd Jefferson.</h1>
    </div>
    <div class="social">
      <ul class="social-networks-ul">
        <li class="social-networks-list"><a href="https://github.com/iwhore" class="social-networks-link"
            target="_blank">GH</a></li>
        <li class="social-networks-list"><a href="mailto:lloydjefferson@gmail.com" class="social-networks-link"
            target="_blank">ihor.jaremko@gmail.com</a></li>
      </ul>

    </div>
  </div>


</section>